
p {
  margin: 15px;
}

div {
  width: 100%;
  margin: 0 auto;
}

.video,
.text {
  width: 100%;
  max-width: 415px;
  object-fit: fill;
}

.text {
  padding-top: 5px;
}


.color-change {
  color: #DC143C;
}

.mejs__controls {
  background: 	linear-gradient(transparent,rgba(0,191,255,.64));

}

@media(min-width:768px) {

  p {
    margin-left: 0;
    margin-right: 0;
  }

  .mejs__player {
    height: 100%;
  }

  .video,
  .text {
    width: 77%;
  }

  .mejs__mediaelement {
    max-height: 200%;
  }

}
