
p {
  margin: 15px;
}

div {
  width: 100%;
  margin: 0 auto;
}

.video,
.text {
  width: 100%;
  max-width: 415px;
}

.text {
  padding-top: 5px;
}


.color-change {
  color: #DC143C;
}

.mejs__controls {
  background: 	#00BFFF;
  opacity: .33;
}

@media(min-width:768px) {

  p {
    margin-left: 0;
    margin-right: 0;
  }

  .video,
  .text {
    width: 77%;
  }

  .mejs__mediaelement {
    max-height: 200%;
  }

  .mejs__player {
    max-height: 100%;
    object-fit: fill;

  }

}
