* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video,
.text {
  width: 100%;
  max-width: 415px;
}

.text {
  padding: 5px;
}

.color-change {
  color: #DC143C;
}

.mejs__controls {
  background: 	#00BFFF;
  opacity: .33;
}
@media(min-width:768px) {

  .video,
  .text {
    width: 77%;
    max-width: none;
  }

}
